<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pull requests statistics</title>
  	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
  	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
</head>
<body style="background: rgb(252,252,252);">
	<h1>Reviewers</h1>
	{% for repo in repos %}
	<h3>{{ repo.name }} Reviewers</h3>
	<div style="width: 40%; border: 1px solid rgb(222,222,222); padding: 4px;">
	<table class="table dataTable display compact row-border hover" id="{{ repo.name }}_reviewers_pool">
		<thead>
			<tr>
		    	<th>Login</a></th>
		    	<th>Level</a></th>
		    	<th>Number of PRs</a></th>
		  	</tr>
	  	</thead>
	  	<tbody>
	  		{% for login, info in repo.reviewers_pool.pool.items() %}
	    	<tr>
				<td width="60%">{{ login }}</td>
				<td align="center" width="20%">{{ info['level'] }}</td>
				<td align="center" width="20%">{{ info['pull_requests']|length }}</td>
			</tr>
			{% endfor %}
	    </tbody>
    </table>
    {% endfor %}
    </div>
	<h1>Pull requests statistics</h1>
	<div style="border: 1px solid rgb(222,222,222); padding: 3px;">
	<table  class="table dataTable display compact row-border hover" id="pr_stats">
		<thead>
			<tr>
		    	<th>Organization</a></th>
		    	<th>Repository</a></th>
		    	<th>Number</a></th>
		    	<th>Owner</a></th>
		    	<th>Title</a></th>
		    	<th>Tags</a></th>
		    	<th>Age</a></th>
		    	<th>Last update</a></th>
		    	<th>Last Comment</a></th>
		    	<th>Reviewers</a></th>
		    	<th>Total Comments</a></th>
		    	<th>Review States by User</a></th>
		  	</tr>
	  	</thead>
	  	<tbody>
	  		{% for stat in stats %}
	    	<tr>
				<td>{{ stat['organization'] }}</td>
				<td>{{ stat['repository'] }}</td>
				<td><a href="https://github.com/{{ stat['organization'] }}/{{ stat['repository'] }}/pull/{{ stat['number'] }}">{{ stat['number'] }}</a></td>
				<td>{{ stat['owner'] }}</td>
				<td>{{ stat['title'] }}</td>
				<td>{{ ', '.join(stat['title_tags']) }}</td>
				<td>{{ stat['age']['days'] }} days and {{ stat['age']['hours'] }} hours</td>
				<td>{{ stat['last_update']['days'] }} days and {{ stat['last_update']['hours'] }} hours ago</td>
				<td>{{ stat['last_review_comment']['login'] }}</td>
				<td>{{ ', '.join(stat['reviewers']) }}</td>
				<td>{{ stat['total_review_comments'] }}</td>
				<td>
				{% for user, state in stat['review_states_by_user'].items() %}
					{{ '{}: {}; '.format(user, state) }}
				{% endfor %}
				</td>
			</tr>
			{% endfor %}
	    </tbody>
    </table>
    </div>
    
	<!-- jQuery library -->
	<!-- Latest compiled JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script>
	$(document).ready(function() 
    { 
        $("#pr_stats").DataTable(); 
    } 
	);
	{% for repo in repos %}
	$(document).ready(function() 
    { 
        $("#{{ repo.name }}_reviewers_pool").DataTable();
    } 
	); 
	{% endfor %}
	</script>
</body>
</html>