<!DOCTYPE html>
<html>
	<head>
		<style>
		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		}
		
		td, th {
		    border: 1px solid #dddddd;
		    text-align: left;
		    padding: 8px;
		}
		
		tr:nth-child(even) {
		    background-color: #dddddd;
		}
		p {
			margin: 1px;
		}
		</style>
	</head>
	<body>
		<h1>NudgeBot daily report</h1>
		<div>
			<h3>Pull request statistics:</h3>
				<table>
					<thead>
						<tr>
							<th>Tag</th>
							<th>Count</th>
							<th>Pull requests</th>
						</tr>
					</thead>
					<tbody>
					{% for tag in ('RFR', 'WIPTEST', 'WIP') -%}
						<tr>
							<td>{{ tag }}</td>
							<td>{{ data['stats_by_tag'][tag]|length }}</td>
							<td>
								{% for stat in data['stats_by_tag'][tag] -%}
								<a href="https://github.com/{{ stat['organization'] }}/{{ stat['repository'] }}/pull/{{ stat['number'] }}">#{{ stat['number'] }}</a>
								{% endfor -%}
							</td>
						</tr>
					{% endfor -%}
					</tbody>
				</table>
			    <h4>The following pull requests have more than 25 comments:</h4>
			        {% for stat in data['stats']|sort(attribute='total_review_comments', reverse=True) -%}
			        {% if stat['total_review_comments'] > 25 -%}
			        	<p style="padding-left: 30px"><a href="https://github.com/{{ stat['organization'] }}/{{ stat['repository'] }}/pull/{{ stat['number'] }}">#{{ stat['number'] }}</a> - {{ stat['total_review_comments'] }} comments.
			        	 &nbsp;(owner: {{ stat['owner'] }})</p>
			        {% endif -%}
			        {% endfor -%}
			    <h4>The following pull requests have 10-25 comments:</h4>
			        {% for stat in data['stats']|sort(attribute='total_review_comments', reverse=True) -%}
			        {% if stat['total_review_comments'] <= 25 and stat['total_review_comments'] >= 10 -%}
			        <p style="padding-left: 30px"><a href="https://github.com/{{ stat['organization'] }}/{{ stat['repository'] }}/pull/{{ stat['number'] }}">#{{ stat['number'] }}</a> - {{ stat['total_review_comments'] }} comments.
			        &nbsp;(owner: {{ stat['owner'] }})</p>
			        {% endif -%}
			        {% endfor -%}
		</div>
		<div>
			<h2>Reviewers:</h2>
				<table>
				  <tr>
				    <th>Reviewer login</th>
				    <th>Number of pull requests</th>
				  </tr>
				  {% for login, info in data['reviewers_pool_items'] -%}
				  <tr>
				    <td>{{ login }}</td>
				    <td>{{ info['pull_requests']|length }}</td>
				  </tr>
			      {% endfor -%}
				</table>
		</div>
	</body>
</html>